<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- SOCIAL ICONS -->
            <div class="col-sm-6 col-sm-push-6">
                <div class="qr-section">
                    <h6>我们的公众号</h6>
                    <img src="/static/index/bootstrap/img/qr.jpg" class="qr" alt="关注我们">
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 copyright">
                <p>Copyright&copy;2018<a href="http://www.schoowall.com/" target="_blank" title="超级校园墙"> 超级校园墙</a> <a href="http://www.schoowall.com/" title="蜀ICP备18008548号-1" target="_blank">蜀ICP备18008548号-1</a></p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="__STATIC__/bootstrap/js/jquery.min.js"></script><!-- Parallax -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.js"></script><!-- Parallax -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script><!-- Parallax -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/jquery.parallax.js"></script><!-- Parallax -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/smoothscroll.js"></script><!-- Smooth Scroll -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/masonry.pkgd.min.js"></script><!-- masonry -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/jquery.fitvids.js"></script><!-- fitvids -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/jquery.counterup.min.js"></script><!-- CounterUp -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/waypoints.min.js"></script><!-- CounterUp -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/jquery.isotope.min.js"></script><!-- isotope -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/scripts.js"></script><!-- Scripts -->


</body>

</html>